{{> header}}

<section class="section-reco">



  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-12 col-md-12 col-sm-12">
    
    <img src="/images/icon-drink.gif" alt="" class="icon">
      <div class="h6">Our sommelier recommends:</div>

      {{> flash_messages}}

        <ul class="list justify-content-center">

        {{#each wineArray}}
          <li class="one-wine col-lg-4">
          <div class="img">
           <img src="{{this.pictureUrl}}" name = "{{this._id}}" alt="" class="wine-pic">
          </div>
          <div class="appelation h2">
            {{#if this.isAdded}}
              <div class="appelation-active">{{this.appelation}}</div>
            {{else}}
              <a href="/add-cart/{{../orderInfo._id}}/{{../wineRecos._id}}/{{this._id}}">{{this.appelation}}</a>
            {{/if}}
          </div>
          <ul class="proprieties">
           <li class="h4">{{this.domaine}} - {{this.millesime}}</li>
        </ul>
        
        <div class="more">
           <a href="/details/{{../orderInfo._id}}/{{../wineRecos._id}}/{{this._id}}" id="details" class="h5">Details</a>
         
          
           <a href="/add-fav/{{../wineRecos._id}}/{{this._id}}" class="fav-link">
           {{#if this.isFavorite}}
           <div class="fav-on"></div>
           {{else}}
           <div class="fav-off"></div>
            {{/if}}
           </a>
           

           <a href="/delete/{{../orderInfo._id}}/{{../wineRecos._id}}/{{this._id}}" id="details" class="h5">Delete</a>
        </div>
        
        
          </li>
          {{/each}}
        </ul>
        
    </div>

  </div>

<div class="button-div">
  <div class="button-div-position">
    <a href="/subtype/{{subTypeId}}"><button class="button-font button-left">previous</button></a>
    <a href="/order-process/{{orderInfo._id}}/{{wineRecos._id}}/"><button class="button-font button-right">go to cart</button></a>
  </div>
</div>

</section>

{{> footer}}