{{> header}}


<section class="section-reco">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-12 col-md-12 col-sm-12">
    
    <img src="/images/icon-drink.gif" alt="" class="icon">
      <div class="h6">Choose your wine</div>

        <ul class="list justify-content-center">
        {{#each wineRecos.wine}}
          <li class="one-wine col-lg-4">
          <div class="img">
           <img src="{{this.pictureUrl}}" name = "{{this._id}}" alt="">
          </div>
          <div class="appelation h2"><a href="#" name = "{{this._id}}">{{this.appelation}}</a></div>
          <ul class="proprieties">
           <li class="h4">{{this.domaine}} - {{this.millesime}}</li>
        </ul>
        
        <a href="/details/{{this._id}}" id="details" class="h5">Details</a>
        
          </li>
          {{/each}}
        </ul>
        
    </div>

  </div>

<div class="button-div">
  <div class="button-div-position">
    <a href="/{{subTypes.type}}"><button class="button-font button-left">previous</button></a>
    <a href="/order"><button class="button-font button-right">add</button></a>
  </div>
</div>
</section>

{{> footer}}