{{> header}}

<section class="section-myfavs">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">

  <img src="/images/icon-bottles.svg" alt="" class="icon">
  <div class="h6">Your favorites :</div>

  <div class="list">
  {{#each userFavorites}}
    <ul class="one-wine"><a href="/fav/{{this.wine._id}}">
      <img src="{{this.wine.pictureUrl}}" alt="" class="picture">
      <li class="h2">{{this.wine.appelation}}</li>
      <li class="h4">{{this.wine.domaine}}</li>
      <li class="h5">{{this.wine.millesime}}</li>
    </a></ul>
  {{/each}}
  </div>

  </div>
  
    <a href="/profile"><button class="button-font">back</button></a>

</section>

{{> footer}}
