{{> header}}

<section class="section-order">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-8 col-md-8 col-sm-8">
      
    
    <img src="/images/icon-order.gif" alt="" class="icon">
      <div class="h6">What time please ?</div>
    
      <input type='time' value='20:30' class ="h0 time-input"/>

      <input type="text" name="addressguess" placeholder="Where do you want to be delivered ?" class="address-input">

{{#each orderInfo}}
        <div class="appelation h1">{{this.appelation}}</div>
        <div class="domaine h2">{{this.domaine}}</div>
        <div class="h3">{{this.millesime}}</div>
{{/each}}
        <div class="h5">CART : 10€  + DELIVERY : 3€ = TOTAL : 13€</div>
                
    </div>

  </div>

<div class="button-div">
  <div class="button-div-position">
    <a href="/wine-reco/{{orderId}}/{{mealId}}/reco-route"><button class="button-font button-left">previous</button></a>
    <a href="/order/{{oneWine._id}}"><button class="button-font button-right">order</button></a>
  </div>
</div>

</section>

{{> footer}}