{{> header}}

<section class="section-order">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-8 col-md-8 col-sm-8">
    
    <img src="/images/icon-order.gif" alt="" class="icon">
      <div class="h6">What time please ?</div>
    
      <input type='time' value='20:30' class ="h0 time-input"/>

      <input id="user_input_autocomplete_address" type="text" name="addressguess" placeholder="Where ?" class="address-input">
        <ul class="list justify-content-center">
          {{#each orderInfo.cart}}
            <li class="one-wine col-lg-6">
              <div class="img">
              <img src="{{this.pictureUrl}}" name = "{{this._id}}" alt="" class="wine-pic">
              </div>
              <div class="appelation h5">{{this.appelation}}</div>
              <a href="/delete-one/{{../orderInfo._id}}/{{this._id}}/{{../mealId}}"><p><u>Delete</u></p></a>
            </li>
          {{/each}}
        </ul>

        <div class="h5 price">CART : {{productTotal}}€  + DELIVERY : 5€ = TOTAL : {{grandTotal}}€</div>
                
    </div>

  </div>

<div class="button-div">
  <div class="button-div-position">
    <a href="/wine-reco/{{orderId}}/{{mealId}}/reco-route"><button class="button-font button-left">previous</button></a>
    <a href="/order/{{oneWine._id}}"><button class="button-font button-right">order</button></a>
  </div>
</div>

</section>

{{> footer}}