{{> header}}

<h2>Your wine:</h2>

  <img src="{{oneWine.pictureUrl}}" alt="">
  <li>{{oneWine.appelation}}</li>
  <li>{{oneWine.domaine}}</li>
  <li>{{oneWine.millesime}}</li>
  <li>{{oneWine.geographie}}</li>
  <li>{{oneWine.description}}</li>


<button class="button-font">back</button>
<button class="button-font">order</button>
