{{> header}}

<section class="section-winelist">

  <div class="fullscreen-bg"></div>

  <h2>Wine list:</h2>

  <ul class="list-filters">
    <li class="h5"><a href="/filter-years">year</a></li>
    <li class="h5"><a href="/filter-name">name</a></li>
    <li class="h5 wine-color"><a href="/filter-color-red" class="wine-color-filter"><img src="/images/icon-red.svg" alt=""></a><a href="/filter-color-white" class="wine-color-filter"><img src="/images/icon-yellow.svg" alt="" ></a><a href="/filter-color-pink" class="wine-color-filter"><img src="/images/icon-pink.svg" alt=""></a></li>
  </ul>

  <ul class="list">

  {{#each allWines}}
    <li class="one-wine col-lg-3"><a href="/details/{{this._id}}">
      <div class="img">
        <img src="{{this.pictureUrl}}" alt="">
      </div>
      <div class="appelation">{{this.appelation}}</div>
      <ul class="proprieties">
        <li>{{this.domaine}} - {{this.millesime}}</li>
      </ul>
  </a></li>
  {{/each}}
  </ul>

</section>

{{> footer}}