{{> header}}

<section class="section-product">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <img src="/images/icon-bottles.svg" alt="" class="icon">
      <div class="h6">Choose your wine</div>

  <li class="one-wine">
        <div class="img col-lg-3 col-md-3">
          <img src="{{oneWine.pictureUrl}}" alt="">
        </div>
        <div class="content col-lg-9 col-md-9">
        <div class="appelation h1">{{oneWine.appelation}}</div>
        <div class="domaine h2">{{oneWine.domaine}}</div>
        <div class="h3">{{oneWine.millesime}}</div>
        <ul class="proprieties">
          <li><p>{{oneWine.description}}</p></li>
          <li class="h4">Cépages : {{oneWine.cepage}}</li>
          <li class="h4">Style : {{oneWine.style}}</li>
          <li class="h4">Parfum : {{oneWine.parfum}}</li>
        </ul>
        </div>
    </li>

    </div>

  </div>

  <a href="/wines"><button class="button-font">back</button></a>

</section>

{{> footer}}