{{> header}}

<h2>Wine list:</h2>
<ul>

{{#each allWines}}
  <img src="{{this.pictureUrl}}" alt="">
  <li>{{this.appelation}}</li>
<ul>
  <li>{{this.domaine}} - {{this.millesime}}</li>
  <li>{{this.geographie}} - {{this.couleur}}</li>
  <li>{{this.style}}</li>
  <li>{{this.accord1}}</li>
</ul>

{{/each}}
</ul>